<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/store/rentcar/rentcarReserve.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

    <script src="/jq/jquery-3.7.0.min.js"></script>
    <script src="/jq/jquery.form.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

</head>
<body>

테스트


<form action="/rentcar/searchss" method="post">
    <div style="display: flex;"><input placeholder="차량명을 입력해주세요."
                                       class="_input_default_pczwv_3 CarNameSearchInput-dFPSqi filter_text_input"
                                       id="searchKeyword" name="searchKeyword">
        <button type="submit" id="reserve_search_btn"
                class="_button_default_1vx5o_3 CarNameSearchButton-cvlOy filter_search_button ">검색
        </button>
    </div>
</form>



<div th:text="${session.input_location}"></div>
<div th:text="${session.depart_date}"></div>


    <div th:text="${dto.getCom_id()}"></div>

<div th:text="${dto.getCar_name()}"></div>

<div th:text="${dto.getCar_price()}"></div>



</body>


</html>