<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/store/rentcar/rentcarReserve.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">

    <script src="/jq/jquery-3.7.0.min.js"></script>
    <script src="/jq/jquery.form.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

</head>
<body>

테스트

<div th:text="${location}">
    <div th:text="${departDate}">
        <div th:text="${arriveDate}">
            <div th:text="${birthDate}">

</div>

</body>


</html>