<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/payment/payment.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/9647b4736a.js"></script>
    <script src="/jq/jquery-3.7.0.min.js" type="text/javascript"></script>
    <script defer src="/js/payment/payment.js" type="text/javascript"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d79bff4156bd5880de4362bbce25ad4e"></script>
</head>
<body>
<div>
    <table class="table">
        <tr>
            <th>이미지</th>
            <th>제목</th>
        </tr>
        <tr th:each="reviews : ${reviews} ">
            <td><a th:text="${reviews.rating}"><img th:src="${reviews.img}"></a></td>
            <td><a th:text="${reviews.ratingDetail}"><span th:text="${reviews.date}"></span></a></td>
            <td><a th:text="${reviews.reviewText}"><span th:text="${reviews.date}"></span></a></td>
            </a>
        </tr>
    </table>
</div>
</body>
</html>