<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class = "no-js">

<head>
    <meta charset="UTF-8">
    <title>Community</title>
    <link rel="shortcut icon" href="/img/member/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/member/community_main.css">
    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src = "/jq/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="/js/header.js"></script>


</head>
<body>
<div class="next">
    <header th:include="/header.html :: header"></header>
    <div class="m">
        <div class="carousel">
            <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30"
                              centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false">
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>
                <swiper-slide><img src="/img/member/carousel1.jpg" alt=""></swiper-slide>

            </swiper-container>
        </div>

        <div class="main_content1">



            <div class="main_content1_text">
                <div class="mct_1">동행을 찾고 있어요</div>
                <div class="mct_2" onclick="window.location.href='/community/accompany'">여행 동행 더보러 가기</div>
            </div>

            <div class="main_content1_box">

                <th:block th:each="acclist,index : ${accompanyList}" th:if="${index.index} < 8">
                    <div class="test1" th:onclick="'location.href=\'/community/accompany/detail?ac_num='+ @{${acclist.ac_num}} + '\''"> <!-- 여기가 한 박스-->
                        <!--                                        <a th:href="@{/board/view/{id}(id = ${board.id})}">글 상세보기</a>-->
                        <div class="test1_content1" >
                            <div class="user_profile">
                                <div class="user_img">



                                    <div class="mypage"><img th:src="'/file/profile_image/' + ${acclist.user?.userImg}" alt="" class = "profile_img"
                                                             onclick="window.location.href='/member/mypage'"></div>

                                </div>
                                <div class="user_info">
                                    <div class="user_nick" th:text="${#strings.setSplit(acclist.user.userId,'@')[0]}"></div>
                                    <!--                                    <div class="user_agender" th:text="${user.userDate}">20대</div>-->

                                    <div class = "user_info_bottom">
                                        <div class="ml_4" th:text="${#strings.substring(((2023 - (acclist.user.userDate?.getYear()+1900))),0,1)}+'0대'"></div>
                                        <div class="user_agender" th:if="${acclist.user?.userGender == 'M'}">남자</div>
                                        <div class="user_agender" th:if="${acclist.user?.userGender == 'F'}">여자</div>
                                    </div>
                                </div>
                            </div>


                            <div class="box_shortline"></div>
                            <div class="trip_profile">
                                <div class="trip_info">
                                    <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                    </div>

                                    <!--                                    <div class="ml_4" th:text="${#dates.format(user.userDate, 'yyyy년 MM월 dd일')}"></div>-->



                                    <div class = "trip_info_bottom">
                                        <!-- 총 여행일자 -->
                                        <!--                                    <div class ="total_date" th:text = "${accompany.ac_enddate - accompany.ac_startdate}"></div>-->

                                        <div class="trip_date" th:text="${acclist.ac_enddate.getTime()/1000/60/60/24 - acclist.ac_startdate.getTime()/1000/60/60/24} + '일 '"></div>

                                        <div class="trip_date" th:text="${#dates.format(acclist.ac_startdate,'MM-dd')}"></div>
                                        ~
                                        <div class="trip_date" th:text="${#dates.format(acclist.ac_enddate, 'MM-dd')}"></div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="test1_content2">
                            <img th:src="'/file/accompany_image/'+${acclist.ac_picture}">
                            <div class="img_area" th:text="${acclist.ac_region}">
                                <i class="fa-solid fa-location-dot"
                                   style="color: #008ff6;"></i></div>
                        </div>
                        <div class="test1_content3">
                            <div class="text_title" th:text="${acclist.ac_title}">

                            </div>
                            <div class="text_sub" th:text="${acclist.ac_text}">
                                </br>

                            </div>


                        </div>
                    </div>
                </th:block>

            </div>

        </div>

        <div class="main_content2">
            <div class="main_content1_text">
                <div class="mct_1">여행 일정을 구경해보세요</div>
                <div class="mct_2" onclick="window.location.href='/community/plan'">여행 일정 구경하기</div>
            </div>

            <div class="main_content1_box">
                <div class="test2">
                    <div class="test2_content1">
                        <div class="user_profile">
                            <div class="user_img">
                                <img src="/img/member/신짱구.png">
                            </div>
                            <div class="user_info">
                                <div class="user_nick2">1998csj</div>
                                <div class="user_agender2">20대 · 남성</div>
                            </div>
                        </div>
                        <div class="box_shortline"></div>
                        <div class="trip_profile">
                            <div class="trip_info">
                                <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                </div>
                                <div class="trip_date">9일 · 10/16-10/24</div>
                            </div>
                        </div>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104994.83738849807!2d135.4036366286705!3d34.67771155001461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e6553406e2e1%3A0xc55bc16ee46a2fe7!2z7J2867O4IOyYpOyCrOy5tOu2gCDsmKTsgqzsubTsi5w!5e0!3m2!1sko!2skr!4v1692607264229!5m2!1sko!2skr"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <div class="test2_area">
                            <div class="area_text">
                                <i class="fa-solid fa-location-dot" style="color: #008ff6;"></i>오사카
                            </div>
                        </div>
                        <div class="nick_plan">1998csj님의 여행일정</div>
                    </div>
                </div>
                <div class="test2"></div>
                <div class="test2"></div>
                <div class="test2"></div>
            </div>
            <div class="main_content1_box">
                <div class="test2"></div>
                <div class="test2"></div>
                <div class="test2"></div>
                <div class="test2"></div>
            </div>
        </div>
    </div>
    <footer th:include="/footer.html :: footer"></footer>




</div>


<!-- Swiper JS -->

</body>

<script>


</script>
</html>