<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>plan_add.html</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/community/plan/plan_add.css">
</head>
<body>
<div class="next">
  <header th:include="header.html :: header"></header>
  <div class="m">
    <!-- 메인부분 코드 작성 -->
    <!-- 깃 테스트 중 -->
    <div style="flex: 1 1 0%;">
      <div class="_next">
        <div class="container">
          <div class="googlemaps">
            <div class="googlemaps_in">
              <div class="map_wrap">
                <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
              </div>
            </div>
          </div>
          <!--여기까지 카카오맵-->

          <div class="content">

            <div id="menu_wrap" class="bg_white">
              <div class="option">
                <div>
                  <form onsubmit="searchPlaces(); return false;">
                    <!--키워드 :--> <input  type="text" value="제주도" id="keyword" size="15" placeholder="가고싶은 장소를 검색해보세요!">
                    <button type="submit" id="search_btn">검색하기</button>
                  </form>
                </div>
              </div>
              <hr>
              <ul id="placesList"></ul>

              <div id="pagination"></div>
            </div>


            <div class="add_place_btnarea">
              <button color="#fff" class="add_place_btn">장소 추가하기</button>
            </div>

          </div> <!-- 여기까지 content 한 세트-->


        </div>
      </div>
    </div>
  </div>
</div>


<div th:include="/footer.html :: footer"></div>




<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
<script src="/jq/jquery-3.7.0.min.js"></script>
<script src="/js/header.js"></script>

<!-- 카카오맵 js -->
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c012367ce50cd5f2e93814481c3cf769&libraries=services,clusterer,drawing"></script>
<!-- services와 clusterer, drawing 라이브러리 불러오기 -->
<script src="/js/community/plan/plan_add.js"></script>

</body>
</html>