.reserve_wrapper {
    background-color: rgb(246, 246, 246);
    min-height: calc(100vh - 246px);
    height: auto;
    padding: 0px 0px 60px;
    margin-top: 120px;
}


/*서치바 css*/

.search_bar_wrap {
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 900;
}

.search_bar_wrap_container {
    width: 100%;
    background-color: #fff;
}

.search_bar_wrap_container_line {
    overflow: hidden;
    width: 100%;
    overflow-x: auto;
    display: flex;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1140px;
}



.search_bar_box {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 200;
    background-color: transparent;
    position: absolute;
}

.search_bar_input_box {
    display: grid;
   /* grid-template-columns: 1fr 110px; */
    gap: 20px;
    height: 90px;
    margin-top: 34.5px;

}

.search_input_container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px #0000000d;
    width: 100%;
    display: grid;
    overflow: hidden;
    white-space: nowrap;
}



.search_input_round {
    width: 100%;
    height: 46px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}

.search_input_round_date {
    width: 50%;
    height: 46px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
}

.search_input_detail {
    border: none;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    height: 22px;
    margin-top: 10px;
    text-overflow: ellipsis;
}






.input_title_and_detail {
    padding: 0 30px;
    height: 50px;
}


.input_title {
    display: flex;
    align-items: center;
}


.input_title_text {
    margin-left: 4px;
    font-size: 15px;
}


.input_grid_number {
    height: 50px;
    width: 1px;
    background-color: #eaeaea;
}


.input_title_icon {
    width: 16px;
    height: 16px;
}

.input_birth_wrap {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    flex-direction: column;
    height: 22px;
    margin-top: 10px;
}


.rentcar_search_button {
    border-width: 0px;
    border-radius: 5px;
    background-color: #00ce7c;
    color: #fff;
    outline: none;
}

.reserve_search_button {
    width: 110px;
    background-color: #00ce7c;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 1px 1px 5px #00000026;

}

/*서치바 css 종료*/


/*컨텐츠 구역*/

.reserv_contents_area {
    margin: 0px auto;
    width: auto;
    max-width: 1140px;
}

.reserv_contents_grid {
    position: relative;
    display: grid;
    grid-template-columns: 320px calc((100% - 320px) - 36px);
    gap: 36px;
    height: auto;
    margin-top: 80px;
}

.reserv_filter_wrap {
    width: 320px;
    min-height: 660px;
}

.reserv_filter_container {
    position: sticky;
    top: 120px;
    height: 655px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px 0px;
}

.reserv_filter_title_box {
    height: 74px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px 20px 20px;
}

.reserv_scroll_filter {
    overscroll-behavior: contain;
    height: 534px;
  /*  overflow: scroll; 빈칸생기는원인*/
    padding: 11px 20px;
}

.reserv_category_container {
    position: relative;
    height: 17px;
    margin-bottom: 15px;
    padding: 0px 8px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.reserv_result_gird {
    width: 100%;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    padding: 16px;
}








.reserv_filter_division {
    font-size: 15px;
    font-weight: bold;
    margin: 18px 0px 10px;
    position: relative;
}

.filter_button_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reserv_filter_text {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px 10px;
    position: relative;
}

.filter_scroll_title {
    font-size: 15px;
    font-weight: bold;
    margin: 20px 0px 15px;
    position: relative;
}

.filter_age_box {
    display: flex;
    flex-wrap: wrap;
}

.result_item {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 245px;
    min-height: 320px;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 5px 0px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out 0s;
    will-change: transform;
}

.result_item:hover{

    box-shadow: 5px 5px 5px 5px gray;


}


.price_box{
    display: flex;
    flex-direction: row;
 text-align: center;
    margin: 25px 0px 0px;
}

.result_item_year {
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgb(244, 244, 244);
    padding: 3px 6px;
}

.result_item_name {
    max-width: 180px;
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0px 6px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}


.result_item_type {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: rgb(170, 170, 170);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


.lowest_label{
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    color: #005eff;
    margin-right: 5px;


}

.result_item_price {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin: 0px 0px 0px;
}

/*필터 버튼 활성화/비활성화 css*/
.nation_filter_button{
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid gray;
    color: black;
    background-color: white;
}

.type_filter_button{
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid gray;
    color: black;
    background-color: white;
}


.oil_filter_button{
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid gray;
    color: black;
    background-color: white;
}

.age_filter_button{
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid gray;
    color: black;
    background-color: white;
}

.nation_filter_button.active {
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid #00b8ff;
    color: #00b8ff;
    background-color: white;
}

.type_filter_button.active {
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid #00b8ff;
    color: #00b8ff;
    background-color: white;
}

.oil_filter_button.active {
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid #00b8ff;
    color: #00b8ff;
    background-color: white;
}

.age_filter_button.active {
    height: 32px;
    padding: 7px 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1.31;
    border: 1px solid #00b8ff;
    color: #00b8ff;
    background-color: white;
}


.result_category_box {
    gap: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.result_category_line {
    width: 2px;
    height: 16px;
    background-color: rgb(234, 234, 234);
}

.font_medium {
    font-weight: 500;
}

.text_15px {
    font-size: 15px;
}

.reserv_filter_title_box span {
    font-size: 20px;
    font-weight: bold;
}

.filter_search_button {
    width: 50px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    background-color: #00b8ff;


    border-width: 0px;
    border-radius: 5px;
    color: #fff;
    outline: none;


}

.filter_text_input {
    flex: 1 1 0%;
    height: 40px;
    margin-right: 10px;
}

.filter_scroll_title span {
    position: absolute;
    right: 0px;
    color: #00b8ff;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.slider_wrap {
    width: 100%;
    height: 30px;
}

.slider_track:first-child {
    background-color: lightgray;
}

.slider_track {
    background-color: #00b8ff;
    height: 4px;
    border-radius: 2px;
    left: 0px;
}

.slider_thumb {
    position: relative;
    bottom: 15px;
    background-color: white;
    width: 24px;
    height: 24px;
    box-shadow: -1px 1px 4px #0000004d;
    border-radius: 50%;
    text-align: center;
    outline: 0;
    border: 0;
}


/* 정렬 순 관련 css */

.result_category_text {
    all: unset;
    font-size: 14px;
    font-weight: bold;
    color: rgb(204, 204, 204);
    cursor: pointer; /* 초기 상태에서 폰트색을 검은색으로 설정 */
}

.result_category_text.active {
    all: unset;
    font-size: 14px;
    font-weight: bold;
    color: rgb(40, 40, 40);
    cursor: pointer; /* 활성화된 버튼의 폰트색을 검은색으로 유지 */
}



/*서치바 토글창 관련 css*/



.search_result {
    height: 550px;
    overflow: hidden;
    width: 100%;
    overflow-x: auto;
    display: flex;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1140px;

}

.search_result_grid {
    grid-template-columns: minmax(0px, 234px) minmax(0px, 774px); /*minmax(0px, 134px) minmax(0px, 640px); */
    box-shadow: 0 -1px 4px #0000001a;
    margin-top: 30px;
    padding-top: 20px;
    display: grid;
    width: 1010px;
    border-left: 1px solid #eaeaea;
}

.result_left_text {
    padding: 30px 0 30px 30px;
    font-size: 24px;
    font-weight: 700;
    height: 500px;
}

.result_select_area {
    border: 1px #eaeaea solid;
    color: black;
    font-size: 14px;
    border-bottom: none;
    width: 133px;
    padding-top: 10px;
}

.result_select_area_text {
    padding: 15px 20px;
    cursor: pointer;
}


.result_location_map {
    width: 774px;
    position: relative;
    overflow: scroll;

}


.result_map_text_box {
    width: 774px;
    height: 145px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 20px;
    z-index: 200;
}

.result_map_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.result_map_name {

    display: flex;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: #f9f9f9;
    padding: 0 15px;
    height: 50px;
    width: 80%;


}

.result_map_btn_wrap {


}

.location_search_btn {

    width: 100px;
    height: 50px;
    font-size: 16px;
    border-radius: 8px;

}


.result_map_icon {

    width: 20px;
    height: 20px;
    margin-right: 10px;

}


.input_map_address {

    width: 100%;
    font-weight: 500;
    font-size: 16px;
    border: none;
    background-color: #f9f9f9;
    padding: 0;
}

.result_location_btn {
    height: 50px;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 8px;
}


.result_location_btn_style {
    border-width: 0px;
    border-radius: 5px;
    background-color: #00b8ff;
    color: #fff;
    outline: none;
}


/*메인에서 렌트 날짜 선정 칸*/

.search_result_date_grid {
    grid-template-columns: minmax(0px, 234px) minmax(0px, 494px) minmax(0px, 278px);
    box-shadow: 0 -1px 4px #0000001a;
    margin-top: 30px;
    padding-top: 20px;
    display: grid;
    width: 1010px;
    border-left: 1px solid #eaeaea;
}

.result_left_text .date {

    padding: 30px 0 0 30px;
    font-size: 24px;
    font-weight: 700;
    height: 500px;
    width: 230px;
}

.rent_date_picker {
    /*.mbsc-datepicker-tab-wrapper */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;

    width: 494px;
    padding: 1px 0 50px;
    border: 1px #eaeaea solid;

}

.calender_wrap {

    flex: 1 1 auto;
    height: 100%;
    width: 100%;

}

.calendar {
    height: 100%;
    max-width: 100%;
    padding-bottom: 0.5em;
    box-sizing: border-box;
    display: block;

}


.result_select_date {
    width: 494px;
    padding: 1px 0 50px;
    border: 1px #eaeaea solid;
}

.result_date_time {
    padding: 30px 20px 0;
    width: 278px;
}

.rent_date_text {
    color: black;
    font-size: 14px;
}

.rent_date_check {
    height: 28.5px;
    font-size: 18px;
    font-weight: 500;
}


.rent_time_check {
    align-items: center;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    color: #282828;
    width: 100%;
    height: 44px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;

}

.rent_date_button {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 50px;
    margin-top: 25px;


    border-width: 0px;
    border-radius: 5px;
    background-color: #588fee;
    color: #fff;
    outline: none;
}

.rent_info_text {
    height: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #eb270e;
    font-size: 12px;
}


/*데이트피커 css */
.ui-datepicker {
    width: 490px;
    height: 440px;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    background: white;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker table {
    width: 100%;
    background-color: white;
}

.ui-datepicker-header {
    border-color: #ccc;
    padding: 17px 0;
    position: relative;
    z-index: 1;
    /* will-change: opacity;*/
    display: flex;
    flex-wrap: wrap;
}

.ui-datepicker-header>:nth-child(2){ order:1 }

.ui-datepicker-title {
    border-color: #ccc;
    padding: 17px 0;
    margin: 0 auto;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: block;
    margin: 0 auto;
    height: 100%;
    padding: 17px 0;

    fill: currentColor;
    font-weight: bold;
    font-size: larger;
}

.ui-datepicker-prev {
    float: left;
    background-position: center -30px;
}

.ui-datepicker-prev span{
    font-size: 20px;

}

.ui-datepicker-next span{
    font-size: 20px;

}


.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}

.ui-datepicker thead {

    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f1f1f1', GradientType=0);
    border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
    width: 62px;
    height: 37px;
    text-transform: uppercase;
    font-size: 12pt;
    padding: 5px 0;
    color: #666666;
    text-shadow: 1px 0px 0px #fff;
    filter: dropshadow(color=#fff, offx=1, offy=0);
    text-align: center;
}

.ui-datepicker tbody td {
    height: 45px;
    padding: 0;
    text-align: center;
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;

    filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);

}

.ui-datepicker-calendar .ui-state-hover {
    background: none;
}

.ui-datepicker-calendar .ui-state-active {
    background: #588fee;
    color: white;
    font-weight: normal;
    filter: dropshadow(color=#4d7a85, offx=0, offy=1);
    border: none;
    border-radius: 20px;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}

.ui-datepicker-range .ui-state-active,
.ui-datepicker-range .ui-state-default {
    background: #ffe4b5;
    border: 1px solid #ffa500;
    color: #ff4500;
}
