<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>accompany.html</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/community/accompany/accompany.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://kit.fontawesome.com/fb453b869a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>

<!--동행 게시판 메인 -->
<div class="next">
    <header th:include="header.html :: header"></header>
    <div class="m">
        <!-- 메인부분 코드 작성 -->

        <!--동행 메뉴바 -->
        <section direction="vertical" class="sc-172ec6f6-0 lfdViP"
                 style="margin-top: 24px; display: flex; box-sizing: border-box;">
            <div class="sc-2ac7fd0b-1 bPhBqO" style="margin-right: 24px;">
                <div class="sc-cfa28f78-0 kOhONI">
                    <div class="sc-cfa28f78-1 eUMRoF">
                        <div class="sc-cfa28f78-2 kuUPD">
                            <svg width="16" height="16" viewBox="0 0 16 17" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.45301 14.7689C11.0169 14.7689 13.906 11.7023 13.906 7.91942C13.906 4.13656 11.0169 1.06995 7.45301 1.06995C3.88911 1.06995 1 4.13656 1 7.91942C1 11.7023 3.88911 14.7689 7.45301 14.7689Z"
                                      stroke="#9A9A9A" stroke-miterlimit="10"></path>
                                <path d="M12.1982 12.9564L14.9999 15.9301" stroke="#9A9A9A" stroke-miterlimit="10"
                                      stroke-linecap="round"></path>
                            </svg>
                        </div>

                        <div class="">
                            <input placeholder="어디로 여행가시나요?" class="sc-cfa28f78-3 iRtETS" value="">
                        </div>

                    </div>
                </div>
            </div>

            <div class="sc-50c338b6-0 flYSGk">
                <div class="sc-50c338b6-1 ljbcoF">
                    <div class="sc-fe318b44-0 bPOjyX">
                        <button class="accompanyQuery" name="recent" id="recent">최신 순</button>
                        <button class="accompanyQuery" name="viewcount" id="viewcount">조회수 순</button>
                        <button class="accompanyQuery" name="countComment" id="countComment">댓글 순</button>

                    </div>
                </div>


                <!--                조회기간, 모든국가-->
                <div class="queryBox">

                    <div class="md_search">
                        <i class="fa-solid fa-sliders" id="md_searchPeriodIcon"></i>
                        <div class="md_searchPeriod">조회 기간</div>


                        <ul class="searchPeriodBox" style="display: none;">
                            <li  class="searchPeriodBoxLi">
                                <input type="date" style="font-family: Arial, sans-serif; border: 1px solid rgb(213, 213, 213); width: 150px; border-radius: 4px;" name="startAt" class="queryStartdate">
                                <input type="date" style="font-family: Arial, sans-serif; border: 1px solid rgb(213, 213, 213); width: 150px; border-radius: 4px;" name="endAt" class="queryEnddate" placeholder="출발 날짜">
                                <button class="searchPeriodBtn">검색</button>
                            </li>
                        </ul>

                    </div>


                    <div class="dunNSc">
                        <i class="fa-solid fa-sliders" id="allRegionIcon"></i>
                        <div id="allRegion">모든 지역
                            <!--                            class="placeholder"-->
                            <ul class="sub" style="display: none;">
                                <li>
                                    <button class="regionAt" name="서울">서울</button>
                                    <!-- db에서 가져와서 th 로 지역값 바꾸기-->
                                </li>
                                <li>
                                    <button class="regionAt" name="경기도">경기도</button>
                                </li>
                                <li>
                                    <button class="regionAt" name="강원도">강원도</button>
                                </li>
                                <li>
                                    <button class="regionAt" name="충청도">충청도</button>
                                </li>
                                <li>
                                    <button class="regionAt" name="경상도">경상도</button>
                                </li>
                                <li>
                                    <button class="regionAt" name="전라도">전라도</button>
                                </li>
                                <li>
                                    <button class="regionAt" name="제주도">제주도</button>
                                </li>
                                <li>
                                    <button class="regionAt" name="기타">기타</button>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="main_content1">
            <div class="main_content1_text">
                <div class="mct_1">동행 게시판</div>
            </div>


            <div class="main_content1_box">
                <th:block th:each="accompany : ${accompanyList}">
                    <div class="test1"
                         th:onclick="'location.href=\'/community/accompany/detail?ac_num='+ @{${accompany.ac_num}} + '\''">
                        <!-- 여기가 한 박스-->

                        <!--                                        <a th:href="@{/board/view/{id}(id = ${board.id})}">글 상세보기</a>-->


                        <div class="test1_content1">
                            <div class="user_profile">
                                <div class="user_img">


                                    <div class="mypage"><img
                                            th:src="'/file/profile_image/' + ${accompany.user?.userImg}" alt=""
                                            class="profile_img"
                                            onclick="window.location.href='/member/mypage'"></div>

                                </div>
                                <div class="user_info">
                                    <div class="user_nick" th:text="${accompany.user?.userName}"></div>
                                    <!--                                    <div class="user_agender" th:text="${user.userDate}">20대</div>-->

                                    <div class="user_info_bottom">
                                        <div class="ml_4"
                                             th:text="${#strings.substring(((2023 - (accompany.user.userDate?.getYear()+1900))),0,1)}+'0대'"></div>
                                        <div class="two_jum"></div>
                                        <div class="user_gender4" th:if="${accompany.user?.userGender == 'M'}">남성</div>
                                        <div class="user_gender4" th:if="${accompany.user?.userGender == 'F'}">여성</div>
                                    </div>
                                </div>
                            </div>


                            <div class="box_shortline"></div>
                            <div class="trip_profile">
                                <div class="trip_info">
                                    <div class="trip_len"><i class="fa-solid fa-calendar" style="color: #9a9a9a;"></i>여행기간
                                    </div>

                                    <!--                                    <div class="ml_4" th:text="${#dates.format(user.userDate, 'yyyy년 MM월 dd일')}"></div>-->


                                    <div class="trip_info_bottom">
                                        <!-- 총 여행일자 -->
                                        <!--                                    <div class ="total_date" th:text = "${accompany.ac_enddate - accompany.ac_startdate}"></div>-->

                                        <div class="trip_date"
                                             th:text="${accompany.ac_enddate.getTime()/1000/60/60/24 - accompany.ac_startdate.getTime()/1000/60/60/24} + '일 '"></div>

                                        <div class="trip_date"
                                             th:text="${#dates.format(accompany.ac_startdate,'MM-dd')}"></div>
                                        <div class="trip_date"> ~</div>
                                        <div class="trip_date"
                                             th:text="${#dates.format(accompany.ac_enddate, 'MM-dd')}"></div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="test1_content2_box">
                            <div class="test1_content2">
                                <img th:src="'/file/accompany_image/'+${accompany.ac_picture}" class="test1_content2_img">
                                <div class="img_area" th:text="${accompany.ac_region}">
                                    <i class="fa-solid fa-location-dot"
                                       style="color: #008ff6;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="test1_content3">
                            <div class="text_title" th:text="${accompany.ac_title}">

                            </div>
                            <div class="text_sub" th:text="${accompany.ac_text}">
                                </br>

                            </div>


                        </div>
                    </div>
                </th:block>

                <th:block th:if="${!noList}">
                    <div class="page-block">

                        <th:block th:if="${pageEndNo > 10}">
                            <div class="page-number-block" id="first-page"
                                 onclick="pageChange(this)"
                                 th:id="${1}"> 처음

                            </div>
                            <div class="page-number-block" id="left-page"
                                 onclick="pageChange(this)"
                                 th:id="${pageStartNo}-1"> 이전
                            </div>
                        </th:block>


                        <div th:each="page : ${#numbers.sequence(pageStartNo, pageEndNo)}"
                             class="page-number-block page-select-btn"
                             onclick="pageChange(this)"
                             th:id="${page}">


                            <p th:text="${page}"></p>
                        </div>

                        <th:block th:if="${lastPageCheck}">
                            <div onclick="pageChange(this)"
                                 th:id="${pageEndNo+1}"
                                 class="page-number-block" id="right-page"> 다음
                            </div>
                            <div onclick="pageChange(this)"
                                 th:id="${totalPage}"
                                 class="page-number-block" id="end-page"> 끝
                            </div>
                        </th:block>


                        <input type="hidden" id="search_option" th:value="${search_option}">
                        <input type="hidden" id="search_word" th:value="${search_word}">
                        <input hidden id="selected-btn" th:value="${pageNo}">




                    </div>
                </th:block>

            </div> <!-- 여기까지 test1 -->





        <footer th:include="/footer.html :: footer"></footer>


        <!-- Swiper JS -->

        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
        <script src="/jq/jquery-3.7.0.min.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/community/accompany/accompany.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</div>
</div>
</div>
</body>

</html>