body{
    margin: 0px;
    background-color: rgb(220, 233, 245);
}
header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 1000;
    background: rgb(255, 255, 255);
}
.header_main{
    width: 100%;
    display: flex;
    margin-left: 40px;

}
.header_logo{
    width: 120px;
    height: 100%;
}
.header_logo img{
    width: 120px;
    height: 100%;
}
.header_icons{
    position: absolute;
    right: 20px;
}
.side_nav{
    position: fixed;
    width: 200px;
    height: 100vh;
    margin-top: 70px;
    padding: 0px 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.section{
    display: flex;
    width: 80%;
}
.main_content{
    position: relative;
    top: 80px;
    left: 280px;
    height: auto;
    width: 100%;
    padding: 40px 0px;
}
.side_nav_content{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 30px;
    border-bottom: 1px gray solid;
    text-align: center;

}

/*charts*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


#container {
    height: 500px;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
