.snc_qna{
    background-color: pink;
    color: #fff;
    font-weight: 600;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
}
th,
td {
    padding: 6px 15px;
}
th {
    background: #42444e ;
    color: #fff;
    text-align: left;
}
tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}
td:first-child {
    border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
    background: #eaeaed;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.header_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logout{
    margin-right: 60px;
    cursor: pointer;
}
svg{
    cursor: pointer;
}
button{
    cursor: pointer;
}
#swal2-title{

    font-size : 14px;
}

.swal2-styled{ /* Swal modal창 */

    background-color: white !important;
    color : black !important;
    border : 2px solid #2B96EC !important;
    box-shadow: none !important;
}
