table{
    background-color: #fff;

}
.snc_user{
    background-color: pink;
    color: #fff;
    font-weight: 600;
}
.content_boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.content_box{
    width: 400px;
    height: 260px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
}
.graphes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
}
.mygraph{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px;
    border-radius: 10px;

}
.mg1{
    width: 700px;
    height:500px;
    display : flex;
    align-items: center;
}

.mg2{
    width: 500px;
    height: 500px;
}

#myChart{
    width: 500px;
    height: 400px;

}



/*여기서부터 유저 테이블 관련 css*/
.usertable{

    width: 100%;
    border : none;
    background-color : white;
    box-sizing: border-box;
    border-radius: 5px;

}

.usertable-inner{

    width: 100%;
    padding :  20px 0px;
    box-sizing: border-box;
}

.userinfo-box{

    display : flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size : 14px;
    box-sizing: border-box;


}

.field-bar{
    display : flex;
    justify-content: space-around;
    align-items: center;
    border-bottom : 1px solid darkgrey;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size : 14px;


}

.userinfo-box div:nth-child(1), .field-bar div:nth-child(1){

    width: 150px;
    text-align: left;
}

.userinfo-box div:nth-child(2), .field-bar div:nth-child(2){

    width: 100px;
    text-align: left;
}


.userinfo-box div:nth-child(3), .field-bar div:nth-child(3){

    width: 50px;
    text-align: left;
}


.userinfo-box div:nth-child(4), .field-bar div:nth-child(4){

    width: 150px;
    text-align: left;
}

.userinfo-box div:nth-child(4), .field-bar div:nth-child(4){

    width: 150px;
    text-align: left;
}

.userinfo-box div:nth-child(5), .field-bar div:nth-child(5){

    width: 150px;
    text-align: left;
}

.userinfo-box div:nth-child(6), .field-bar div:nth-child(6){

    width: 50px;
    text-align: center;
}



.userinfo-box:hover{

    background-color: whitesmoke;

}

.user-del-btn:hover{

    cursor : pointer;
}


/* 모달창 속성

 */

#swal2-title{

    font-size : 14px;
}

.swal2-styled{ /* Swal modal창 */

    background-color: white !important;
    color : black !important;
    border : 2px solid #2B96EC !important;
    box-shadow: none !important;
}
