h1, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 35px;
    margin-top: 35px;
}


.container {
    margin-top: 20px;
}

.flight_search_form_container, .result_container {
    margin: 0 auto;
    width: 1100px;
    position: relative;
}

.result_container {
    margin-top: 55px;
}

.result_container hr {
    margin-top: 25px;
}

#total_count {
    color: #00b8ff;
}

.flight_search_container {
    margin-top: 150px;
}

.flight_search_container:after {
    content: "";
    position: absolute;
    background-image: url(https://openimage.interpark.com/tour-desktop/pages/air/main/mainVisualPalmtree.jpg);
    background-size: 100% 300px;
    width: 100%;
    height: 300px;
    bottom: 57%;
    z-index: -1;
    background-repeat: no-repeat;
}

.flight_search_form {
    height: 120px;
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

.result_title {
    line-height: 29px;
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

.result_title i {
    background: url(//openimage.interpark.com/tour-desktop/pages/air/search/icon_arrow.png) no-repeat;
    width: 20px;
    height: 15px;
    background-position: center;
    background-size: 20px auto;
    display: inline-block;
    margin: 0 10px 2px 10px;
}

#result_flight_date {
    float: right;
}

.flight_search_form_title {
    border-bottom: 1px solid #e6e6e6;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.flight_search_form_title p {
    margin: 0;
    padding: 10px;
    font-size: large;
}

.flight_search_form_content {
    /*display: flex;*/
    /*align-items: center;*/
    /*margin-left: 20px;*/
    /*box-sizing: border-box;*/
    /*justify-content: space-around;*/
    padding: 0 25px 0 22px;
    box-sizing: border-box;
    display: block;
}

.flight_search_table, .search_airline {
    display: table;
}

.search_airline:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    display: inline-block;
    top: 0;
    background-color: rgba(182, 189, 199, 0.4);
    right: -15px;
}

.flight_date_input:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    display: inline-block;
    top: 0;
    background-color: rgba(182, 189, 199, 0.4);
    left: -15px;
}

.flight_search_col, .search_btn_box {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.flight_search_form_content img {
    margin-top: 15px;
    width: 42px;
    height: 42px;
}

.search_airline {
    position: relative;
}

.search_airline_input {
    float: left;
    position: relative;
    padding: 30px 0;
    box-sizing: border-box;
    height: 120px;
    width: 550px;
}

.airline_btn {
    position: relative;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.airline_btn h4, .flight_date_input h4 {

    text-align: left;
    font-size: 16px;
    color: #999;
    margin-bottom: 5px;
    padding-left: 3px;
}

.form-select {
    font-weight: bold;
    font-size: 22px;
    width: 200px;
}

/*.airline_input{
    width: 200px;
    line-height: inherit;
    box-sizing: border-box;
    background: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
    color: #000;
    border: 0;
    height: 30px;
}*/

.airline_icon {
    width: 38px;
    height: 56px;
    background: transparent url("https://openimage.interpark.com/tour-desktop/pages/air/main/icon-airplane.png") no-repeat center;
    background-size: 38px auto;
    margin: 0 25px;
}

.icon_circle {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url("https://openimage.interpark.com/tour-desktop/pages/air/main/icon-circle.png") no-repeat center center;
    background-size: 38px auto;
}

.flight_date_input {
    width: 282px;
    box-sizing: border-box;
    float: left;
    position: relative;
    padding: 30px 0 30px 15px;
    height: 120px;
}

.flight_date_box {
    padding: 10px 0;
}

#flight_date {
    line-height: 30px;
    letter-spacing: inherit;
    box-sizing: border-box;
    background: #fff;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
    color: #000;
    border: 0;
    height: 30px;
    width: 100%;
}

.search_btn_box {
    padding-left: 50px;
}

#flight_search_btn {
    cursor: pointer;
    height: 70px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #00b8ff;
    padding: 21px 24px;
}


.flight_search_btn {
    border-style: none;
}

.result_table {
    border: 1px solid #f0f0f0;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.none_result_table {
    text-align: center;
    /*display: none;*/
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.none_result_table:before {
    content: '';
    background-image: url("https://m-flight.naver.com/list-02ee448f930ef566221f52da1d238713.png");
    background-size: 241px auto;
    background-position: 0 0;
    display: block;
    margin: 0 auto 27px;
    width: 66px;
    height: 66px;
}

.none_result_table p {
    color: #8f8f8f;
}

.result_table_inner {
    border-bottom: none;
    display: flex;
    align-items: center;
    padding: 18px 18px;
    position: relative;
}

.result_schedule {
    flex-basis: 670px;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 150px;
}

.schedule_item {
    margin-top: 0px;
    display: flex;
}

.airline_box {
    display: flex;
    align-items: flex-start;
    min-width: 290px;
    flex-basis: 290px;
    flex-grow: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
}

.airline_item {
    text-align: center;
    color: #191919;
    width: 150px;
}

.airline_logos img {
    display: inline-block;
    height: 35px;
    object-fit: contain;
    vertical-align: middle;
}

.airline_name {
    vertical-align: middle;
    font-size: 20px;
}

.airline_route {
    display: flex;
    align-items: center;
    flex-basis: 400px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.end_route {
    margin-left: 30px;
}

.end_route:before {
    background-image: url("https://m-flight.naver.com/list-02ee448f930ef566221f52da1d238713.png");
    -webkit-background-size: 200px auto;
    background-size: 241px auto;
    background-position: -188px -42px;
    width: 18px;
    height: 9px;
    display: inline-block;
    margin: 0 5px;
    content: "";
    scale: 1.3;
    margin-right: 20px;
}

.airline_price {
    flex-basis: 255px;

}

.airline_price div {
    float: right;
}

.airline_price b {
    margin-right: 50px;
    font-size: 22px;
}

.hr-sect {
    display: none;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 16px;
    margin: 30px 0px;
    cursor: pointer;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

/**/
.flight_result_table {
    display: table;
    margin-top: 30px;
    width: 100%;
    position: relative;

}

.flight_result_title_row {
    display: table-row;
    background-color: #666;
    border: 1px solid #494949;
    color: #ffffff;
}

.flight_result_title_row div {
    border-left: 1px solid #494949;
}


.flight_result_row {
    display: table-row;
    cursor: pointer;
}

.flight_result_col {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    border-bottom: 1px solid #dadada;

}

.flight_result_col div {
    display: inline-block;
    position: relative;
}

#airline_name span {
    font-size: 12px;
}

#airline_name:before {
    content: "";
    background-image: url(https://flight.11st.co.kr/flight_img/AIR_IMG/TW.png);
    background-size: 48px 48px;
    display: inline-block;
    width: 48px;
    height: 48px;
    position: absolute;
    right: 100%;
}

.flight_result_col:first-child {
    border-left: 1px solid #dadada;
    width: 250px;
}

.flight_result_col:last-child {
    border-right: 1px solid #dadada;
}

.flight_result_col img {
    width: 36px;
}

.main_content1_box {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.test1 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 282px;
    height: 286px;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: rgba(25, 25, 25, 0.2) 0px 6px 10px;
}

.loading_wrap {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.loading-box {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 200px;
    text-align: center;
    background: #fff;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .2);
}

.loading-box .circles {
    padding-top: 10px;
}

.loading-box .circles i {
    animation: scaleBounce .3s alternate infinite;
    display: inline-block;
    margin: 0 4px;
    width: 10px;
    height: 10px;
    background: #00a5e5;
    border-radius: 50em;
}

.loading-box .circles i:nth-child(2) {
    animation-delay: .1s;
}

.loading-box .circles i:nth-child(3) {
    animation-delay: .2s;
}

.loading-box p {
    margin-top: 20px;
    font-size: 18px;
}

@keyframes scaleBounce {
    from {
        transform: scale(.7)
    }
    to {
        transform: scale(1.3)
    }
}

