<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/member/findPw.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>

<header th:include="/header2.html ::header"></header>


<div class="next">

    <div class="idpw-container">


        <div class="idpw-container-inner">


            <h3>아이디 비밀번호 찾기</h3>


            <!--                        차량 옵션정보 (table만든 데이터 집어넣기)-->
            <div class="idpw-box-tabs">
                <div id="find-id-tab" class="idpw-box-tabs-non-click" data-a="0" style=" font-weight:600">
                    아이디
                </div>
                <div id="find-pw-tab" class="idpw-box-tabs-non-click" data-a="1">
                    비밀번호
                </div>

                <div class="idpw-box-tabs-clicked-bar"></div>
            </div>


            <!-- 아이디 찾기시 보여질 div-->

            <div class="idpw-container-inner1 ">

                <h4>아이디 찾기</h4>
                <div class="idpw-content ">
                    가입시 입력한 성함과 생년월일 정보를 입력해 주세요.
                </div>


                <div class="real_name">
                    <p>성함</p>
                    <input type="text" name="user_name" placeholder="성함을 입력해주세요.">
                </div>


                <div class="real_phone">
                    <p>휴대폰 번호</p>
                    <input type="text" name="user_phone1" maxlength="11" placeholder="휴대폰 번호를 입력해 주세요.(-제외)">
                </div>


                <div class="find-id-block">
                    <button id="find-id-button">아이디(이메일 주소) 받기</button>
                </div>


            </div>


            <!-- 비밀번호 선택시 보여질 div-->
            <div class="idpw-container-inner2 disappear">


                <h4>비밀번호 찾기</h4>
                <div class="idpw-content ">
                    휴대폰 인증을 완료하면 비밀번호를 재설정 할 수 있습니다.
                </div>



                <div class = "complete-auth-block">
                <div class="real_name">
                    <p>아이디</p>
                    <input type="text" name="user_id" placeholder="아이디(이메일)를 입력해주세요.">
                </div>


                <div class="real_phone">
                    <p>휴대폰 번호</p>
                    <input type="text" name="user_phone2" maxlength="11" placeholder="휴대폰 번호를 입력해 주세요.(-제외)">
                </div>


                <div id="auth_block" class="disappear">
                    <p>인증번호</p>
                    <input type="text" name="auth_num" id="auth_num">
                </div>


                    <div id="find-pw-block2" class="disappear">
                        <button id="auth-button">인증하기</button>
                    </div>

                </div>


                <div class="disappear" id="update-block">
                    <p>1차 비밀번호</p>
                    <input type="password" id="first-pw" placeholder="비밀번호(8자~16자, 영문+숫자+특수문자 사용)" maxlength="16">
                    <p>2차 비밀번호</p>
                    <input type="password" id="second-pw" placeholder="1차 비밀번호와 동일하게 입력해주세요." maxlength="16">

                </div>


                <div id="find-pw-block1">
                    <button id="find-pw-button">비밀번호 재설정 인증번호 받기</button>
                </div>

                <div id="find-pw-block3" class="disappear">
                    <button id="update-pw-button">비밀번호 변경하기</button>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/jq/jquery-3.7.0.min.js"></script>
<script src="https://kit.fontawesome.com/fb453b869a.js" crossorigin="anonymous"></script>
<script src="/js/header.js"></script>
<script src="/js/member/findPw.js"></script>
</body>
</html>
