<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <canvas id="myChart"></canvas>
</div>


<script src="/jq/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>


    const ctx = document.getElementById('myChart');


    $.ajax({

        method: 'POST',
        data: "",
        url: '/test/getUserChart',
        success: function (data) {

            var daycountList = JSON.parse(data);
            var dayList = getdayList(daycountList.length);
            console.log(dayList)
            showChart(daycountList,dayList);

        }, error() {

            console.log("bye")
        }
    })

    function getdayList(daylength) {

        var dayList = [];
        const date = new Date();

        date.setDate(date.getDate()-daylength);

        for (var i = 0; i < daylength; i++) {

            date.setDate(date.getDate()  + 1);

            const year = date.getFullYear();
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const day = String(date.getDate()).padStart(2, '0');
            const formattedDate = `${year}-${month}-${day}`; // "2023-08-31"

            dayList.push(formattedDate);

        }
        return dayList;
    }

    function showChart(countList,dayList) {

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dayList,
                datasets: [{
                    label: '일별 가입자 수 현황',
                    data: countList,
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });

    }
</script>

</body>
</html>