<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 메인</title>
<!--    <link rel="stylesheet" href="/css/member/manager/headerAndSideNav.css">-->
    <link rel="stylesheet" href="/css/member/manager/home.css">
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">

    <style>
        body {

            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>

<container th:include = "/member/manager/manager_header.html :: container"></container>

<div class="section">
    <div class="main_content">
        <h2 class="content_title">
            유저 정보 관리
        </h2>
        <div class="content_boxes">
            <div class="content_box">
                <div class="content_box_inner">

                    <h2>총 회원 수</h2>

                    <h3 th:text = "${userCount} + '명'"></h3>
                    <span class = "content-text" onclick="location.href = '/manager/user'" id="goqna">회원 관리 ></span>
                </div>


            </div>
            <div class="content_box">
                <div class="content_box_inner">

                    <h2>문의 대기 글 수</h2>
                    <h3 th:text = "${qnaCount}+'개'"></h3>
                    <span class = "content-text" onclick="location.href = '/manager/qna'" id="goqna">답변하러가기 ></span>
                </div>
            </div>
            <div class="content_box">
                <div class="content_box_inner">
                    <h2>회원 성비</h2>
                    <h3 th:text ="'남자 : ' +${countMen} + '명'"> </h3>
                    <h3 th:text ="'여자 : ' +${countWomen} + '명'"> </h3>

            </div>
        </div>

        </div>

        <div class="graphes">
            <div class="mygraph mg1">


                <canvas id="myChart"></canvas>

            </div>
            <div class="mygraph mg2" id=container>


            </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/jq/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://kit.fontawesome.com/fb453b869a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/member/manager/home.js"></script>
</body>
</html>