<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
    <script src="/jq/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
    <script src="/js/header.js"></script>
</head>
<body>

<header th:include="/header2.html :: header"></header>
<div class="m"></div>
<h1>관리자 home페이지입니다.</h1>

<div class="main-container">


    <div class="" id="manager-title">
        <div id="manager-title1">회원관리</div>

        <div id="manager-title2" onclick="location.href = '/manager/manageUser'">
            <div id="manager-title3">
                회원 내역 보러가기
            </div>
            <div id="kkuk-block">
                <div><img id="kkuk" src="/img/member/kkuk2.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="manager-user-block">


        <div class="manager-user-title">

            <li>아이디</li>
            <li>성별</li>
            <li>생년월일</li>
            <li>가입일</li>
            <li>결제건수</li>
            <li>문의글 답변 여부</li>
            <li>상세보기</li>
        </div>

        <!--            <div class="user-table-cell" >아이디</div>-->
        <!--            <div class="user-table-cell">성별</div>-->
        <!--            <div class="user-table-cell">생년월일</div>-->
        <!--            <div class="user-table-cell">가입일</div>-->
        <!--            <div class="user-table-cell">결제건수</div>-->
        <!--            <div class="user-table-cell">문의글 답변 여부</div>-->
        <!--            <div class="user-table-cell">상세보기</div>-->

        <div class="user-table">


            <th:block th:each="user : ${userList}">


                <div class="user-table-row">

                    <div class="user-table-cell" th:text="${user.userId}"></div>
                    <div class="user-table-cell" th:text="${user.userGender}"></div>
                    <!-- date타입 파싱 -->

                    <div class="user-table-cell" th:text="${#dates.format(user.userDate, 'yyyy-MM-dd')}"></div>
                    <div class="user-table-cell" th:text="'가입일'"></div>
                    <div class="user-table-cell" th:text="'1(임의)'"></div>
                    <div class="user-table-cell" th:text="'N임의'"></div>


                    <div class="user-table-cell"><img id="about" src="/img/member/about.png" alt=""
                                                      th:onclick="'location.href=\'' + @{'/manager/manageUserInfo?userNumber=' + ${user.userNumber}} + '\''">
                    </div>
                </div>

            </th:block>
        </div>

    </div>

    <p>게시글 관리</p>

    <div class="manager-user-block">

        <div></div>


    </div>

    <p>예약내역</p>

    <div class="manager-user-block">

        예약내역
    </div>


</div>

<a href="/manager/userList">유저 정보 보러가기</a> <br>
<a href="/manager/accompanyList">동행 게시글 보러가기</a><br>
<a href="/manager/planBoardList">일정 게시글 보러가기</a><br>
<a href="/manager/rentcarList">렌트카 예약정보 보러가기</a><br>
<a href="/manager/flightList">항공편 예약정보 보러가기</a><br>
<a href="/manager/qnaList">문의글 보러가기.</a>

<div th:include="/footer.html :: footer"></div>


</body>
</html>