<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지 - 렌트카</title>
    <link rel="stylesheet" href="/css/member/manager/headerAndSideNav.css">
    <link rel="stylesheet" href="/css/member/manager/user.css">
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">

    <style>
        body {

            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body>

<container th:include="/member/manager/manager_header.html :: container"></container>

<div class="section">
    <div class="main_content">
        <h4 class="content_title">
            렌트카 결제 관리
        </h4>

        <div class="usertable" id="usertable">

            <div class="usertable-inner">
                <div class="user-search-bar">
                    <div>
                        <select name="user-search-option" id="user-search-option">
                            <option value="all">전체</option>
                            <option value="user_id">유저 아이디</option>
                            <option value="user_name">유저 이름</option>

                        </select>
                    </div>

                    <div class="user-search-input">


                        <span><i class="fa-solid fa-magnifying-glass" id="search-icon"></i></span>
                        <input type="text" id="search-input" placeholder="검색어를 입력하세요">


                    </div>

                </div>
            </div>
            <div class="field-bar">
                <div>아이디</div>
                <div>대여자 이름</div>
                <div>차종</div>
                <div>렌트카 회사</div>
                <div>렌트 비용</div>
                <div>삭제</div>
            </div>
            <div th:if="${#lists.isEmpty(rentList)}" class="no-user">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <style>svg {
                            fill: #ff0000
                        }</style>
                        <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
                    </svg>
                </div>
                <div class="warning-title">표시할 유저 정보가 없습니다.</div>
            </div>


            <th:block th:if="${!#lists.isEmpty(rentList)}">
                <div class="userinfo-box" th:each="rentList : ${rentList}">


                    <div th:text="${rentList.rentReservationId}"></div>
                    <div th:text="${rentList.user.userName}"></div>
                    <div th:text="${rentList.rentName}"></div>
                    <div th:text="${rentList.rentCompany}"></div>
                    <div th:text="${rentList.rentPrice}"></div>


                 <div class="ml_4 user-del-btn" th:id="${rentList.rentReservationId}" onclick="delRent(this)">

                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                            <style>svg {
                                fill: #ff0000
                            }</style>
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                        </svg>
                    </div>

                </div>
            </th:block>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/jq/jquery-3.7.0.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
<script src="https://kit.fontawesome.com/9647b4736a.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/member/manager/rentcar.js"></script>
</body>
</html>