<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/sideheader.css">
    <title>왼쪽 세로 헤더</title>

    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<header th:include = "/header2.html :: header"></header>

<div class="container">

    <header class="left-header">
        <div><img src="/img/member/logo.png" alt=""></div>
        <div class = "left-header-tab">홈</div>
        <div class = "left-header-tab">회원 관리</div>
        <div></div>
    </header>
    <main>
        <!-- 내용 -->
    </main>
</div>
</body>
</html>
