<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/sideheader.css">
    <title>왼쪽 세로 헤더</title>

    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<header th:include = "/header2.html :: header"></header>

<div class="container">a
    <header class="left-header">
        <div class = "left-header-tab"><img src="/img/member/logo.png" alt=""></div>
        <div class = "left-header-tab">
        <a href = "#manager-user" >회원 관리</a>
        </div>

        <div class = "left-header-tab"><a href = "#manager-plan" >일정글 관리</a></div>
        <div class = "left-header-tab"><a href = "#manager-accompany">동행글 관리</a></div>
        <div class = "left-header-tab"><a href = "#manager-qna" >문의글 답변</a></div>
        <div class = "left-header-tab"><a href = "#manager-rentcar" >렌트카 결제 내역</a></div>
        <div class = "left-header-tab"><a href = "#manager-flight" >항공권 결제 내역</a></div>
        <div></div>
    </header>
    <main>
        <!-- 내용 -->
    </main>
</div>
</body>
</html>
