<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/member/sideheader.css">
    <title>왼쪽 세로 헤더</title>

    <link rel="stylesheet" href="/css/header.css">
</head>
<body>






        <main>
        <!-- 내용 -->


            <table border = "1">

                <tr>
                    <td> 작성자</td>
                    <td> 문의글 제목</td>
                    <td> 문의글 내용</td>
                    <td> 작성일자</td>
                    <td> 문의글 답변</td>
                </tr>

                <th:block th:each = "qna : ${qnaList}">
                    <tr>
                        <td  th:text = "${qna.qnaWriter}"> </td>
                        <td  th:text = "${qna.qnaTitle}"> </td>
                        <td  th:text = "${qna.qnaContent}"> </td>


                        <td th:text="${#temporals.format(qna.qnaDate, 'yyyy년MM월dd일HH시mm분')}"></td>

                        <!--    <p>Formatted LocalDateTime: <span th:text="${#temporals.format(${qna.qnaDate}, 'yyyy-MM-dd HH:mm:ss')}"></span></p>-->
                        <!--    <td  th:text="${#dates.format(qna.qnaDate, 'yyyy-MM-dd HH:mm:ss')}"> </td>-->
                        <td  th:text = "${qna.qnaAnswer}"> </td>



                    </tr>
                </th:block>

            </table>
    </main>

</body>
</html>
