<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/member/manager/user">
</head>
<body>
<header>
    <div class="header_main">
        <div class="header_logo"><img src="/img/member/logo.png"></div>
        <div class="header_icons">로그아웃 아이콘</div>
    </div>
</header>git
<div class="side_nav">
    <div class="side_nav_content">1번 컨트롤 내용</div>
    <div class="side_nav_content">1번 컨트롤 내용</div>
    <div class="side_nav_content">1번 컨트롤 내용</div>
    <div class="side_nav_content">1번 컨트롤 내용</div>
    <div class="side_nav_content">1번 컨트롤 내용</div>
    <div class="side_nav_content">1번 컨트롤 내용</div>
</div>
<div class="section">
    <div class="main_content">
        asdasdasda
    </div>
</div>
</body>
</html>