.choice_post button {
    border: none;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 68px;
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
}
.choice_post button:hover{
    background-color: #F8F8F8;
}
.disappear{
    display: none;
}

.test1 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 282px;
    height: 286px;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: rgba(25, 25, 25, 0.2) 0px 6px 10px;

}

.main_content1 {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;

}

.next {
    display: flex;
    flex-direction: column;
}

.m {
    width: 1200px;
    margin: 130px auto;
}

.main_content1_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mct_1 {
    font-size: 22px;
    font-weight: 600;
}

.mct_2 {
    font-size: 14px;
    color: #00b8ff;
    font-weight: 600;
    cursor: pointer;
}

.main_content1_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.test2 {
    position: relative;
    box-sizing: border-box;
    width: 282px;
    height: 450px;
    margin-bottom: 24px;
    user-select: none;
    -webkit-user-drag: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 14px;
    box-shadow: rgba(25, 25, 25, 0.2) 0px 6px 10px;
    transition: all 0.15s ease-out 0s;
}
swiper-container {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.carousel {*/
/*    width: auto;*/
/*    height: 350px;*/
/*}*/

.user_img {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.user_info{
    width: 70%;
}


.user_info_bottom{

    display: flex;
    justify-content: space-between;
}

.user_img img {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    object-fit: cover;
    border-radius: 50%;
}

.test1_content1 {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 45px;
    padding: 12px 9px;
    box-sizing: border-box;

}
.user_profile, .trip_profile {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_nick {

    font-size: 13px;
}

.user_agender {
    font-size: 12px;
    color: #588fee;
    font-weight: 600;
}

.box_shortline {
    width: 1px;
    height: 15px;
    background-color: gainsboro;
    margin: 0px 10px;
}

.trip_len {
    font-size: 10px;
    color: #9a9a9a;
    font-weight: 600;
}

.trip_len i {
    margin-right: 5px;
}

.trip_date {
    font-size: 12px;
    color: forestgreen;
    font-weight: 600;
}

.trip_info_bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size : 12px;
}
.test1_content2 {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: max-content;
    border-radius: 10px;
}

.test1_content2 img {
    display: flex;
    width: 282px;
    height: 144px;
    object-fit: cover;
    transition: all 0.3s ease-out 0s;
    transform: scale(1);
}

.test1_content3 {
    padding: 8px 8px;
}
.ml_4{
    font-size : 12px
}
.text_title {
    font-size: 16px;
    font-weight: 600;
}

.text_sub {
    font-size: 14px;
    padding: 8px 0px;
}

.img_area {
    position: absolute;
    top: 6px;
    left: 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: max-content;
    height: 28px;
    padding: 0px 8px;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    user-select: none;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    color: rgb(0, 143, 246);
}

.img_area i {
    margin-right: 5px;
}

.test2_content1 {
    width: 266px;
    height: 60px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 219, 219);
    box-shadow: rgba(25, 25, 25, 0.2) 0px 4px 10px;
    border-radius: 14px;
    padding: 8px;
    box-sizing: border-box;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 3;
}

.user_nick2 {
    font-size: 11px;
}

.user_agender2 {
    font-size: 11px;
    color: #588fee;
    font-weight: 600;
    width: 60px;
}

.map {
    z-index: 1;
    position: absolute;
    height: 190px;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;

}

.map iframe {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border: none;
    border-radius: 14px 14px 0px 0px
}

.test2_area {
    margin-top: 190px;
    font-size: 15px;
    color: #588fee;
    font-weight: 600;
    width: auto;
    background-color: ghostwhite;
}

.area_text {
    margin-left: 10px;
    padding: 10px 0px;
    border-bottom: 2px #588fee;
}

.area_text i {
    margin-right: 5px;
}





/*!*여행일정*!*/
.main_content2 {
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}

.nick_plan{
    /*margin-bottom: 10px;*/
    padding: 8px;
    font-weight: 600;
}

/*Day버튼*/
.test2_day_buttonarea {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.test2_day_buttonarea_2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.test2_day_buttons {
    display: flex;
    box-sizing: border-box;
    width: calc(234px);
    height: 31px;
}

.test2_day_button_selected{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    width: 70px;
    height: 31px;
    margin-right: 8px;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background: rgb(37, 37, 37);
    border-radius: 20px;
    transition: width 0.25s ease-out 0s;
}

.cZhUke {
    transform: rotate(-30deg);
}

svg:not(:root) {
    overflow: initial;
    overflow-clip-margin: content-box;
}

.test2_day_button_selected svg {
    width: 15px;
    height: 15px;
    fill: none;
    color: rgb(255, 255, 255);
}

.test2_day_button_unselected{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    width: 70px;
    height: 31px;
    margin-right: 8px;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background: rgb(245, 245, 245);
    border-radius: 20px;
    transition: width 0.25s ease-out 0s;
}

.test2_day_button_selected, .test2_day_button_unselected{
    text-transform: none;
    margin: 0px;
    font-family: NotoSansKR, "Noto Sans CJK KR", sans-serif;
    line-height: 1.15;
    overflow: visible;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
    border: 0px;
    outline: none;
}









/*여행지*/
.test2_place {
    box-sizing: border-box;
    width: 100%;
    height: 88px;
    padding: 10px;
}

.test2_place_text {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgb(0, 206, 124);
    background: rgb(251, 251, 251);
    border: 1px dashed rgb(233, 233, 233);
    border-radius: 10px;
}




.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 15px;
    background: #fff;
    font-weight: bold;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/*일정담기, 일정상세보기 버튼*/
.test2_button {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 49px;
    /*margin-top: 10px;*/
    padding: 0 8px 8px 8px;
}

.test2_btn1, .test2_btn2 {
    width: 49%; /*원래 48%*/
    height: 35px;
    border: 1px solid rgb(0, 206, 124);
    border-radius: 14px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0.7;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: rgb(0, 206, 124);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.test2_btn1_span, .test2_btn2_span {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}



/*카카오맵*/
/*카카오맵*/
.map_wrap, .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}


/*캐러셀 이미지*/

.mySwiper img {
    height: 380px;
    width: 100%;

}

#visual1 {
    object-fit: cover;
    object-position: center;
}

.visual_wrap {

    position: relative;
    height: 380px;
    text-align: center;
    color: white;
}


.visual_text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
}

.visual_text strong {
    font-size: 30px;
}

.visual_text span {
    font-size: 18px;
}

#visual2 {
    background: url(/img/store/tour/tourmain/main_02.jpg) center no-repeat;
    width: 1200px;
    background-size : 1200px 380px;

}

#visual3 {
    background: url("/img/store/tour/tourmain/main_03.jpg") center no-repeat;
    background-size: cover;
    width: 1200px;
}


.visual_wrap .visual_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    width: 317px;
    height: 317px;
}